.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.5);
}

.grow2 {
    transition: all .1s ease-in-out;
}

.grow2:hover {
    transform: scale(1.03);
}

footer {
    background-color: #161616;
    color: white;
    padding: 0;
}

.footer_image img {
    z-index: 10;
    height: 100px;
    width: 600px;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
}

footer a {
    color: #d5d5d5;
}

hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

li {
    list-style-type: none;
}

.social_icon li a {
    font-size: 30px;
    margin-right: 1vw;
}

li a:hover {
    color: #ff5757;
    text-decoration: none;
}

.vaccine a:hover {
    color: #ff5757;
    text-decoration: none;
}

.footer_inner1 {
    margin-left: 30%;
}

.socialresponsive {
    align-items: center;
}

ul.social_icon {
    align-items: center;
    margin-left: auto;
}

ul.social_icon li {
    float: left;
    height: 60px;
    display: flex;
    flex-direction: row;
    margin-left: 2px;
    padding: 0;
}


/*---Media Queries --*/

@media (max-width: 768px) {
    .footer_image img {
        z-index: 10;
        height: 80px;
        width: 500px;
    }
    .footer_inner1 {
        margin-left: 40%;
    }
}

@media (max-width: 576px) {
    .footer_image img {
        z-index: 10;
        height: 50px;
        width: 300px;
    }
    .footer_inner1 {
        margin-left: 30%;
    }
}


/*--- Bootstrap Padding Fix --*/

[class*="col-"] {
    padding: 1rem;
}