.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.home {
    background-color: #000000;
    height: 100vh;
}

.heading-1 {
    padding-top: 2%;
    font-family: 'Fredoka One';
    color: #ff5757;
    font-size: 400%;
    text-align: center;
    justify-content: center;
}

.logo {
    padding-top: 4%;
}

.container {
    background-color: #e9ecef;
    width: 60vw;
    height: 70vh;
    border-radius: 25px;
}

.signinbtn {
    background-color: #ff5757;
}

.signinbtn:hover {
    background-color: #df2727;
}

.fieldBox {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

.btn {
    width: 100px;
    border-radius: 5px;
}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    .heading-1 {
        padding-top: 4%;
        font-size: 350%;
    }
}

@media (max-width: 576px) {
    .heading-1 {
        padding-top: 10%;
        font-size: 350%;
    }
    .container {
        margin-top: 5%;
        width: 80vw;
        height: 65vh;
        border-radius: 25px;
    }
}