<div class="home">
    <div class="jumbotron bg-black text-center">
        <h1 class="heading-1">Covid Resources</h1>
        <hr>

        <div class="row d-flex justify-content-center">
            <h3> Click the tabs below to get live updated contact numbers and details of some available Oxygen Cylinders, Hospital Beds, Pharmaceuticals (Remdesivir, Fabiflu etc.), Plasma Donors, RT-PCR & information for Testing and Diagnostics Centers, Ambulance
                Services, Food Services and some important Helpline Numbers
            </h3>

            <div class=" col-sm-12 col-md-8 col-lg-5 text-center ">
                <a href="https://docs.google.com/spreadsheets/d/1928r4Nsy4CMvCDRwmsrRu_hwfNfDAuYGKiMUrdwS6Cw/edit#gid=0">
                    <div class="card grow">
                        <div class="ui statistic">
                            <div class="label">
                                Resource Details-1
                            </div>
                            <p>Resources From Pan India</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class=" col-sm-12 col-md-8 col-lg-5 ">
                <a href="https://docs.google.com/spreadsheets/d/13my6gupVkHWMdNuz95aXQpWH3FD-deTV9KSLjoHntpg/edit#gid=0">
                    <div class="card grow">
                        <div class="ui statistic">
                            <div class="label">
                                Resource Details-2
                            </div>
                            <p>Resources From Lucknow, Delhi & Pan India</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class=" col-sm-12 col-md-8 col-lg-5 ">
                <a href="https://www.aarogyasetu.gov.in/" target="_blank ">
                    <div class="card grow">
                        <div class="ui statistic">
                            <div class="label">
                                Covid Updates
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class=" col-sm-12 col-md-8 col-lg-5 ">
                <a href="https://www.who.int/docs/default-source/coronaviruse/situation-reports/20200423-sitrep-94-covid-19.pdf" target="_blank ">
                    <div class="card grow">
                        <div class="ui statistic">
                            <div class="label">
                                Who Situation Report
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <p>** The availability and status of certain services may differ than what mentioned due to high demand.</p>
            <p>**Almost all the numbers are genuine but we do not take responsibility as the numbers were obtained from different platforms </p>
        </div>
    </div>
</div>
<app-footer></app-footer>