<div class="home">
    <div class="jumbotron bg-black text-center">
        <h1 class="heading-1">Covid Resources</h1>
        <hr>

        <div class="row d-flex justify-content-center">
            <h3> Click the tabs below to get live updated contact numbers and details of some available Oxygen Cylinders, Hospital Beds, Pharmaceuticals (Remdesivir, Fabiflu etc.), Plasma Donors, RT-PCR & information for Testing and Diagnostics Centers, Ambulance
                Services, Food Services and some important Helpline Numbers
            </h3>
            <div class=" col-sm-12 col-md-8 col-lg-5 ">
                <a href="https://docs.google.com/document/d/e/2PACX-1vQLa5IUS7JfyoxIOWY53QWKgwFKko542K6lJpWkEq7oZRM79Y1H92YZNUZTOrFhWK2n3P6admdwU8YH/pub" target="_blank ">
                    <div class="card grow">
                        <div class="ui statistic">
                            <div class="label">
                                Covid National Resource
                            </div>
                            <p id="web-show">Resources From Pan India(Updated every 5-min)</p>
                            <p id="mobile-show1">Resources From Pan India</p>
                            <p id="mobile-show2">(Updated every 5-min)</p>

                        </div>
                    </div>
                </a>
            </div>
            <div class=" col-sm-12 col-md-8 col-lg-5 ">
                <a href="https://drive.google.com/file/d/17CZEV-_GeEU_dphosPwREiVXLK4fyglj/view" target="_blank ">
                    <div class="card grow">
                        <div class="ui statistic">
                            <div class="label">
                                Covid National Resource
                            </div>
                            <p>Resources From Pan India</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class=" col-sm-12 col-md-8 col-lg-5 text-center ">
                <a href="https://docs.google.com/spreadsheets/d/1928r4Nsy4CMvCDRwmsrRu_hwfNfDAuYGKiMUrdwS6Cw/edit#gid=0" target="_blank">
                    <div class="card grow">
                        <div class="ui statistic">
                            <div class="label">
                                Covid Resources
                            </div>
                            <p>Resources From Pan India</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class=" col-sm-12 col-md-8 col-lg-5 ">
                <a href="https://docs.google.com/spreadsheets/d/13my6gupVkHWMdNuz95aXQpWH3FD-deTV9KSLjoHntpg/edit#gid=0" target="_blank">
                    <div class="card grow">
                        <div class="ui statistic">
                            <div class="label">
                                Covid Resources
                            </div>
                            <p>Resources From Lucknow & Delhi</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class=" col-sm-12 col-md-8 col-lg-5 ">
                <a href="https://docs.google.com/spreadsheets/u/0/d/1J-m84rr-tV47wZrUKn41jlTTID5FNcMs5MwyYHt9fLU/htmlview" target="_blank ">
                    <div class="card grow">
                        <div class="ui statistic">
                            <div class="label">
                                Remdesivir Distributor List
                            </div>
                            <p>Resources From Pan India</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class=" col-sm-12 col-md-8 col-lg-5 ">
                <a href="https://docs.google.com/spreadsheets/d/14E6--LRH0SwSpkJgK8tfkjH7CqzVFT9RG-mnVSGVQR0/edit#gid=0" target="_blank ">
                    <div class="card grow">
                        <div class="ui statistic">
                            <div class="label">
                                Food Services
                            </div>
                            <p>Resources From Pan India</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class=" col-sm-12 col-md-8 col-lg-5 ">
                <a href="https://docs.google.com/spreadsheets/d/14E6--LRH0SwSpkJgK8tfkjH7CqzVFT9RG-mnVSGVQR0/edit#gid=0" target="_blank ">
                    <div class="card grow">
                        <div class="ui statistic">
                            <div class="label">
                                Covid-19 Helpline
                            </div>
                            <p>Pan India Helpline Services</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class=" col-sm-12 col-md-8 col-lg-5 ">
                <a href="https://www.aarogyasetu.gov.in/" target="_blank ">
                    <div class="card grow">
                        <div class="ui statistic">
                            <div class="label">
                                Covid Updates
                            </div>
                            <p>Powered By Aarogya Setu</p>
                        </div>
                    </div>
                </a>
            </div>
            <p>** The availability and status of certain services may differ than what mentioned due to high demand.</p>
            <p>**Almost all the numbers are genuine but we do not take responsibility as the numbers were obtained from different platforms </p>
        </div>
    </div>
    <h4 class="alert alert-info text-center">Click Self Analysis To Check for Covid-19
        <button class="btn btn-test grow btn-back btn-primary" routerLink="/analysis">Self Analysis</button>
    </h4>
</div>
<app-footer></app-footer>