.home {
    background-color: black;
}

#mobile-show1,
#mobile-show2 {
    display: none;
}

.btn-test {
    background-color: #ff5757;
    border-radius: 25px;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

select {
    width: 200px;
    font-family: 'regular';
    font-size: 16px;
}

.card {
    border-radius: 10px;
    background-color: #ff5757;
    height: 100px;
    margin: 5%;
}

.heading-1 {
    left: 38vw;
    font-family: bold;
    color: rgb(0, 0, 0);
    font-size: 400%;
    text-align: center;
    justify-content: center;
}

.ui.statistic>.label,
.ui.statistics .statistic>.label {
    font-family: bold, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 30px;
    margin-top: 5%;
    font-weight: 300;
    line-height: 30px;
    color: rgba(0, 0, 0, .87);
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.card p {
    margin-top: 10px;
    color: black;
    text-decoration: none;
}

@media (max-width: 992px) {
    .heading-1 {
        left: 38vw;
        font-size: 350%;
    }
    .ui.statistic>.label,
    .ui.statistics .statistic>.label {
        font-size: 22px;
        font-weight: 200;
        color: rgba(0, 0, 0, .87);
    }
    .card p {
        margin-top: 10px;
        color: black;
        text-decoration: none;
    }
}

@media (max-width: 768px) {
    .heading-1 {
        left: 38vw;
        font-size: 250%;
    }
    .ui.statistic>.label,
    .ui.statistics .statistic>.label {
        font-size: 18px;
        font-weight: 200;
        color: rgba(0, 0, 0, .87);
    }
    .ui.statistic>.value,
    .ui.statistics .statistic>.value {
        font-size: 33px!important;
    }
}

@media (max-width: 576px) {
    #web-show {
        display: none;
    }
    #mobile-show1,
    #mobile-show2 {
        display: block;
    }
    .heading-1 {
        left: 38vw;
        font-size: 300%;
        line-height: 45px;
    }
    .card {
        border-radius: 10px;
        background-color: #ff5757;
        height: 100px;
        margin: 5%;
    }
    .card p {
        margin-top: 5px;
        color: black;
        text-decoration: none;
        line-height: 5px;
    }
    .ui.statistic>.label,
    .ui.statistics .statistic>.label {
        font-family: bold, 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 18px;
        margin-top: 7%;
        font-weight: 200;
        line-height: 25px;
    }
}