<div class="content">
    <div class="container fluid">
        <div class="row text-center">
            <h1 class="heading-1">Contact Us</h1>
            <div class="col-12">
                <h2 class="heading-2">Mailing Address</h2>
                <p class="inner-text">Srm University, kattankulathur Chennai</p>
            </div>
            <div class="col-12">
                <h2 class="heading-2">Email Address</h2>
                <a class="mail" href="mailto: pranjaypoddar@gmail.com">
                    <p class="inner-text">pranjaypoddar@gmail.com</p>
                </a>
            </div>
            <div class="col-12">
                <h2 class="heading-2">Phone Number</h2>
                <p class="inner-text">+91 6263804262</p>
            </div>
            <div class="col-12">
                <h2 class="heading-2">Follow Us</h2>
                <ul class="social_icon d-flex justify-content-center ">
                    <li> <a href="https://twitter.com/PranjayPoddar" target="blank"><i class="fab fa-twitter grow social_iconleft"></i></a></li>
                    <li> <a href="https://www.linkedin.com/in/pranjay-poddar/" target="blank"><i class="fab fa-linkedin grow social_iconleft"></i></a></li>
                    <li> <a href="https://www.instagram.com/pranjay_poddar/" target="blank"><i class="fab fa-instagram grow social_iconleft"></i></a></li>
                </ul>

            </div>
            <img src="assets/images/Corona2.png" class="corona-1" alt="corona svg">
            <img src="assets/images/Corona3.png" class="corona-2" alt="corona svg">


        </div>
    </div>
</div>