.home {
    height: 100vh;
    background-color: black;
}

hr {
    color: white;
}

.heading-1 {
    padding-top: 5%;
    font-family: 'Fredoka One';
    color: #ff5757;
    font-size: 400%;
    text-align: center;
    justify-content: center;
}

@media (max-width: 992px) {
    .heading-1 {
        font-size: 350%;
    }
}

@media (max-width: 768px) {
    .heading-1 {
        font-size: 300%;
    }
}

@media (max-width: 576px) {
    .heading-1 {
        font-size: 300%;
        line-height: 40px;
    }
}