.grow {
    transition: all 0.6s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.home {
    height: 200vh;
    background-color: black;
}

#registration {
    font-size: 300%;
    line-height: 130%;
    font-family: 'regular', sans-serif;
    text-align: center;
}

.btn {
    box-shadow: none !important;
    outline: 0 !important;
    border: 0 !important;
}

.btn:hover {
    background-color: #ff5757;
    color: white;
    box-shadow: none;
}

.btn:active,
.btn:focus {
    box-shadow: none !important;
    outline: 0 !important;
    border: 0 !important;
    background-color: #ff5757 !important;
    color: white !important;
}

#start {
    width: 80%;
    height: 50px;
    font-family: 'regular', sans-serif;
    font-size: 160%;
}

hr {
    color: white;
}

.heading-1 {
    padding-top: 5%;
    font-family: bold;
    color: #ff5757;
    font-size: 400%;
    text-align: center;
    justify-content: center;
}

.cardimg2 {
    margin-top: 20%;
    height: 250px;
    width: 250px;
}

@media (max-width: 992px) {
    .heading-1 {
        font-size: 350%;
    }
}

@media (max-width: 768px) {
    .heading-1 {
        font-size: 300%;
    }
    .cardimg2 {
        margin-top: 15%;
        height: 200px;
        width: 200px;
    }
    #registration {
        font-size: 250%;
        line-height: 130%;
        font-family: 'regular', sans-serif;
        text-align: center;
    }
    #quizimg {
        height: 180px;
        width: 180px;
    }
}

@media (max-width: 576px) {
    .heading-1 {
        font-size: 300%;
        line-height: 40px;
    }
    .cardimg2 {
        margin-top: 13%;
        height: 180px;
        width: 180px;
    }
    #registration {
        font-size: 200%;
        line-height: 130%;
        font-family: 'regular', sans-serif;
        text-align: center;
    }
    #quizimg {
        height: 150px;
        width: 150px;
    }
}