<footer>
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-3">
                <div class="text-center grow2">
                    <img src="../../assets/images/srm_logo white.png" height="130" width="230">
                </div>
                <hr class="light">
                <ul class="social_icon d-flex justify-content-center ">
                    <li> <a href="#"><i class="fab fa-facebook grow"></i></a></li>
                    <li> <a href="#"><i class="fab fa-instagram grow"></i></a></li>
                    <li> <a href="#"><i class="fab fa-linkedin grow"></i></a></li>
                    <li> <a href="#"><i class="fab fa-twitter grow"></i></a></li>
                    <li> <a href="#"><i class="fab fa-youtube grow"></i></a></li>
                </ul>
                <ul>
                    <div class="footer_inner1 grow2">
                        <li><a href="#"><i class="fas fa-angle-double-right "></i> Privacy Policy</a></li>
                    </div>
                    <div class="footer_inner1 grow2">
                        <li><a href="#"><i class="fas fa-angle-double-right"></i> Terms & Condition</a></li>
                    </div>
                    <div class="footer_inner1 grow2">
                        <li><a href="#"><i class="fas fa-angle-double-right"></i> Campus Mail</a></li>
                    </div>
                    <div class="footer_inner1 grow2">
                        <li><a href="#"><i class="fas fa-angle-double-right"></i> Student Portal</a></li>
                    </div>
                </ul>

            </div>
            <div class="col-md-3">
                <h5 style="text-align: center;">GET CONNECTED</h5>
                <hr class="light">
                <ul>
                    <div class="footer_inner1 grow2">
                        <li><a href="#"><i class="fas fa-angle-double-right"></i> International Alliances</a></li>
                    </div>
                    <div class="footer_inner1 grow2">
                        <li><a href="#"><i class="fas fa-angle-double-right"></i> International Advisory Board</a></li>
                    </div>
                    <div class="footer_inner1 grow2">
                        <li><a href="#"><i class="fas fa-angle-double-right"></i> Corporate Advisory Board</a></li>
                    </div>
                    <div class="footer_inner1 grow2">
                        <li><a href="#"><i class="fas fa-angle-double-right"></i> Accreditations & Ranking</a></li>
                    </div>
                    <div class="footer_inner1 grow2">
                        <li><a href="#"><i class="fas fa-angle-double-right"></i> Placement</a></li>
                    </div>
                    <div class="footer_inner1 grow2">
                        <li><a href="#"><i class="fas fa-angle-double-right"></i> International Relations</a></li>
                    </div>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 style="text-align: center;">INSIGHTS</h5>
                <hr class="light">
                <ul>
                    <div class="footer_inner1 grow2">
                        <li><a href="#"><i class="fas fa-angle-double-right"></i> Innovation & Incubation Center</a></li>
                    </div>
                    <div class="footer_inner1 grow2">
                        <li><a href="#"><i class="fas fa-angle-double-right"></i> Student Clubs</a></li>
                    </div>
                    <div class="footer_inner1 grow2">
                        <li><a href="#"><i class="fas fa-angle-double-right"></i> Researgence</a></li>
                    </div>
                    <div class="footer_inner1 grow2">
                        <li><a href="#"><i class="fas fa-angle-double-right"></i> SRM Video</a></li>
                    </div>
                    <div class="footer_inner1 grow2">
                        <li><a href="#"><i class="fas fa-angle-double-right"></i> Virtual Tour</a></li>
                    </div>
                    <div class="footer_inner1 grow2">
                        <li><a href="#"><i class="fas fa-angle-double-right"></i> Spectrum</a></li>
                    </div>
                    <div class="footer_inner1 grow2">
                        <li><a href="#"><i class="fas fa-angle-double-right"></i> IQAC</a></li>
                    </div>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 style="text-align: center;">CAMPUSES</h5>
                <hr class="light">
                <ul>
                    <div class="footer_inner1 grow2">
                        <li><a href="#"><i class="fas fa-angle-double-right"></i> Chennai Main Campus-Kattankulathur</a></li>
                    </div>
                    <div class="footer_inner1 grow2">
                        <li><a href="#"><i class="fas fa-angle-double-right"></i> Chennai-Ramapuram</a></li>
                    </div>
                    <div class="footer_inner1 grow2">
                        <li><a href="#"><i class="fas fa-angle-double-right"></i> Chennai-Vadapalani Campus</a></li>
                    </div>
                    <div class="footer_inner1 grow2">
                        <li><a href="#"><i class="fas fa-angle-double-right"></i> Delhi - NCR</a></li>
                    </div>
                    <div class="footer_inner1 grow2">
                        <li><a href="#"><i class="fas fa-angle-double-right"></i> SRM University AP Andhra Pradesh</a></li>
                    </div>
                    <div class="footer_inner1 grow2">
                        <li><a href="#"><i class="fas fa-angle-double-right"></i> SRM University Haryana</a></li>
                    </div>
                    <div class="footer_inner1 grow2">
                        <li><a href="#"><i class="fas fa-angle-double-right"></i> SRM University Sikkim</a></li>
                    </div>
                </ul>
            </div>
            <div class="col-12">
                <div class="text-center footer_image">
                    <img src="../../assets/images/footer.png">
                </div>
                <hr class="light-100">
                <h5 class="grow2" style="text-align: center;"> ©TEAM TECHNOCREATIVE 2021</h5>
            </div>
        </div>
    </div>
</footer>
<p>center works!</p>