<div class="home">
    <h1 class="heading-1">Locate Testing Center</h1>
    <hr>
    <div class="container1 ">
        <div class="row ">
            <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img class="cardimg" src="assets/images/map1-1.gif" alt="Avatar">
                        </div>
                        <div class="flip-card-back">
                            <img class="grow cardimg2" src="assets/images/map1-2.png" alt="Avatar">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img class="cardimg" src="assets/images/map2-1.gif" alt="Avatar">
                        </div>
                        <div class="flip-card-back">
                            <img class="grow cardimg2" src="assets/images/map2-2.png" alt="Avatar">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg2">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14672.449010920685!2d79.93046255!3d23.166102799999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1617168111790!5m2!1sen!2sin" id="map" style="border:0;" allowfullscreen=""
                    loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>