<div class="home">
    <h1 class="heading-1">Locate Testing Center</h1>
    <hr>
    <div class="container bg1 ">
        <div class="row ">
            <div class="col d-flex justify-content-center">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img class="cardimg" src="assets/images/map1-1.gif" alt="Avatar">
                        </div>
                        <div class="flip-card-back">
                            <img class="grow cardimg2" src="assets/images/map1-2.png" alt="Avatar">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img class="cardimg" src="assets/images/map2-1.gif" alt="Avatar">
                        </div>
                        <div class="flip-card-back">
                            <img class="grow cardimg2" src="assets/images/map2-2.png" alt="Avatar">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg2">
    <div class="container">
        <div class="row ">
            <div class="col d-flex justify-content-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d112042.80368992609!2d77.17633643230215!3d28.64960807683925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sdelhi%20hospitals!5e0!3m2!1sen!2sin!4v1617175869800!5m2!1sen!2sin" id="map" style="border:0;"
                    allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</div>