<div class="ui inverted dimmer" [class.active]='loading'>
    <div class="ui text loader">Loading</div>
</div>
<div class="jumbotron bg-black text-center">
    <h1 class="heading-1">Country Corona Tracker</h1>
    <hr>
    <div class="mx-auto">
        <div class="form-group col-lg-5 mx-auto bg-black">
            <label for="c" class="select-country">Select Country</label>
            <select name="" class="form-control custom-select" id="c" #input (change)='updateValues(input.value)'>
                <option value="{{con}}" *ngFor='let con of countries'>{{con}}</option>
            </select>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="card grow col-sm-12 col-md-6 col-lg-3 p-2 m-3">
            <div class="ui statistic">
                <div class="label">
                    Confirmed
                </div>
                <div class="value">
                    {{totalConfirmed}}
                </div>
            </div>
        </div>
        <div class="card grow col-sm-12 col-md-5 col-lg-3 p-2 m-3">
            <div class="ui statistic">
                <div class="label">
                    Recovered
                </div>
                <div class="value">
                    {{totalRecovered}}
                </div>
            </div>
        </div>
        <div class="card grow col-sm-12 col-md-6 col-lg-3 p-2 m-3">
            <div class="ui statistic">
                <div class="label">
                    Deceased
                </div>
                <div class="value">
                    {{totalDeaths}}
                </div>
            </div>
        </div>
        <div class="card grow col-sm-12 col-md-5 col-lg-3 p-2 m-3">
            <div class="ui statistic">
                <div class="label">
                    Active
                </div>
                <div class="value">
                    {{totalActive}}
                </div>
            </div>
        </div>
        <h4 class="alert alert-info text-center">Click Covid Resources to access resources from Pan India
            <button class="btn btn-resources btn-back btn-primary" routerLink="/resources">Covid Resources</button>
        </h4>
    </div>
</div>

<!-- table ------------- -->
<div class="container-fluid ">
    <div class="row d-flex justify-content-center">

        <div class="col-sm-5  col-md-5 col-lg-12">

            <table class="table">
                <thead>
                    <tr>
                        <th>Sno.</th>
                        <th>Date</th>
                        <th>Cases</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor='let cs of selectedCountryData; index as i '>
                        <td>{{i+1}}</td>
                        <td>{{cs.date | date}}</td>
                        <td>{{cs.cases}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-footer></app-footer>