.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

select {
    width: 200px;
    font-family: 'regular';
    font-size: 16px;
}

.card {
    border-radius: 50px;
    background-color: #ff5757;
}

.btn-resources {
    background-color: #ff5757;
    border-radius: 25px;
}

.table th {
    font-family: 'regular';
    color: rgb(0, 0, 0);
    font-size: 150%;
}

.table td {
    font-family: 'regular';
    color: rgb(0, 0, 0);
}

tr:nth-child(even) {
    background-color: rgb(165, 165, 165);
}

tr:hover {
    background-color: #ff5757;
}


/* .row {
    margin-right: -15px;
    margin-left: -15px;
}

.container {
    padding: 0px !important;
    margin: 0 !important;
} */

.ui.statistic>.value,
.ui.statistics .statistic>.value {
    font-size: 40px!important;
}

.heading-1 {
    left: 38vw;
    font-family: 'Fredoka One';
    color: rgb(0, 0, 0);
    font-size: 400%;
    text-align: center;
    justify-content: center;
}

.ui.statistic>.label,
.ui.statistics .statistic>.label {
    font-family: 'Fredoka One', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 300;
    color: rgba(0, 0, 0, .87);
    text-transform: uppercase;
    text-align: center;
}

.select-country {
    display: block;
    font-size: 25px;
}

@media (max-width: 992px) {
    .heading-1 {
        left: 38vw;
        font-size: 350%;
    }
}

@media (max-width: 768px) {
    .heading-1 {
        left: 38vw;
        font-size: 250%;
    }
    .ui.statistic>.label,
    .ui.statistics .statistic>.label {
        font-size: 18px;
        font-weight: 200;
        color: rgba(0, 0, 0, .87);
    }
    .ui.statistic>.value,
    .ui.statistics .statistic>.value {
        font-size: 33px!important;
    }
    .card {
        width: 60%;
    }
}

@media (max-width: 576px) {
    .heading-1 {
        left: 38vw;
        font-size: 300%;
        line-height: 45px;
    }
}