<div class="jumbotron bg-black text-center">
    <h1 class="heading-1">Country Corona Tracker</h1>
    <hr>
    <div class="mx-auto">
        <div class="form-group col-lg-5 mx-auto bg-black">
            <label for="c" style="display: block;">Select Country</label>
            <select name="" class="form-control custom-select" id="c">
                <option value="{{con}}" *ngFor='let con of countries'>{{con}}</option>
            </select>
        </div>
    </div>
    <app-infocards [totalConfirmed]='totalConfirmed' [totalActive]='totalActive' [totalRecovered]='totalRecovered' [totalDeaths]='totalDeaths'></app-infocards>

</div>