<h2 class="text-center">Sign Up</h2>
<div class="container text-center">
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input ngModel [pattern]="namePattern" matInput placeholder="Full Name" required>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input ngModel matInput [pattern]="emailPattern" placeholder="harrypotter@xyz.com" required>
            <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Phone No.</mat-label>
            <input ngModel type="number" maxlength="10" matInput placeholder="9469789454" required>

        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>

            <input ngModel [pattern]="passwordPattern" type="password" matInput placeholder="password**" required>

        </mat-form-field>
    </p>
    <p class="text-muted">**Minimum 8 characters, Lower & Upper Case letters, Numbers & Special characters</p>
    <button type="button" routerLink="/home" onclick="alert('Your Information Is Successfully Registered');" class=" btn btn-primary ">Submit</button>
    <small id="emailHelp " class="form-text text-muted ">We'll never share your details with anyone else.</small>
    <br>
</div>