<h2 class="text-center">Sign Up</h2>
<div class="container">
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Phone No.</mat-label>
            <input matInput placeholder="">
        </mat-form-field>
    </p>
    <button type="button" routerLink="/home" class="btn btn-primary">Submit</button>
</div>