<h2 class="text-center">Sign Up</h2>
<div class="container">
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Harry Potter">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="harrypotter@xyz.com">
            <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Phone No.</mat-label>
            <input type="number" maxlength="10" matInput placeholder="9469789454">

        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="password">
        </mat-form-field>
    </p>
    <button type="button" routerLink="/home" class="btn btn-primary">Submit</button>
</div>