<section>
    <div class="home-background">
        <h1>COVINEX</h1>
        <div class="rectangle">Covid-19 Testing Requirements And Tracking System</div>
        <div class="row sign-button text-center">
            <div class="col-sm-6 col-md-6">
                <button type="button" routerLink="/signin" class="btn btn-primary btn-lg">Sign In</button>
            </div>
            <div class="col-sm-6 col-md-6">
                <button type="button" routerLink="/signin" class="btn btn-primary btn-lg">Sign Up</button>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>