<div class="jumbotron bg-white text-center">
    <h1 class="display-4">Corona Tracker</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti molestias porro neque modi, deserunt magnam nisi dolore illo a laborum quae iste rerum quos, ea pariatur dolorem numquam itaque dolorum!</p>
    <hr class="my-2">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae illo suscipit, cumque expedita quod voluptatibus laudantium iusto eos aliquam consequatur. Quibusdam quod maxime animi expedita quae ex eaque pariatur blanditiis?</p>
</div>