<div class="ui inverted dimmer" [class.active]='loading'>
    <div class="ui text loader">Loading</div>
</div>
<div class="jumbotron bg-black text-center">
    <h1 class="heading-1">Global Corona Tracker</h1>
    <hr>
    <div class="row d-flex justify-content-center">
        <div class="card grow card1 col-sm-12 col-md-6 col-lg-3 p-2 m-3" *ngIf="totalConfirmed!=0">
            <div class="ui statistic">
                <div class="label">
                    Confirmed
                </div>
                <div class="value">
                    {{totalConfirmed}}
                </div>
            </div>
        </div>
        <div class="card grow card1 col-sm-12 col-md-5 col-lg-3 p-2 m-3" *ngIf="totalRecovered!=0">
            <div class="ui statistic">
                <div class="label">
                    Recovered
                </div>
                <div class="value">
                    {{totalRecovered}}
                </div>
            </div>
        </div>
        <div class="card grow card1 col-sm-12 col-md-6 col-lg-3 p-2 m-3" *ngIf="totalDeaths!=0">
            <div class="ui statistic">
                <div class="label">
                    Deceased
                </div>
                <div class="value">
                    {{totalDeaths}}
                </div>
            </div>
        </div>
        <div class="card grow card1 col-sm-12 col-md-5 col-lg-3 p-2 m-3" *ngIf="totalActive!=0">
            <div class="ui statistic">
                <div class="label">
                    Active
                </div>
                <div class="value">
                    {{totalActive}}
                </div>
            </div>
        </div>
        <h4 class="alert alert-info text-center">Click Country Tracker for country-wise data
            <button class="btn btn-country grow btn-back btn-primary" routerLink="/tracker">Country Tracker</button>
        </h4>
    </div>
</div>
<div class="ui form bg1">
    <div class="inline fields">
        <label class="select" for="fruit">Select Case Type : </label>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" id='c' #c (click)='updateChart(c)' value="c" name="casetype" checked="" tabindex="0" class="hidden">
                <label for='c'>Confirmed</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" value='d' #d (click)='updateChart(d)' id='d' name="casetype" tabindex="0" class="hidden">
                <label for='d'>Deaths</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" value='r' #r (click)='updateChart(r)' id='r' name="casetype" tabindex="0" class="hidden">
                <label for='r'>Recovered</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input id='a' #a type="radio" (click)='updateChart(a)' value='a' name="casetype" tabindex="0" class="hidden">
                <label for='a'>Active</label>
            </div>
        </div>
    </div>
    <div class="container-fluid bg2">
        <div class="row">
            <div class="col-lg-6">
                <google-chart [type]='chart.PieChart' [options]='chart.options' style="width: 100%;" [height]='chart.height' [data]='datatable'></google-chart>
            </div>

            <div class="col-lg-6">
                <google-chart [type]='chart.LineChart' [options]='chart.options' style="width: 100%;" [height]='chart.height' [data]='datatable'></google-chart>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>