.ui.statistic>.value,
.ui.statistics .statistic>.value {
    font-size: 40px!important;
}

.heading-1 {
    left: 38vw;
    font-family: 'Fredoka One';
    color: rgb(0, 0, 0);
    font-size: 400%;
    text-align: center;
    justify-content: center;
}

.ui.statistic>.label,
.ui.statistics .statistic>.label {
    font-family: 'Fredoka One', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 300;
    color: rgba(0, 0, 0, .87);
    text-transform: uppercase;
    text-align: center;
}

.field label {
    font-family: 'Fredoka One', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 200;
    color: rgba(0, 0, 0, .87);
    text-transform: uppercase;
}

.select {
    font-family: 'Fredoka One', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: rgba(0, 0, 0, .87);
    text-transform: uppercase;
}

.ui.form {
    font-size: 2rem;
}

.ui.radio.checkbox .box:before,
.ui.radio.checkbox label:before {
    content: '';
    -webkit-transform: none;
    transform: none;
    width: 20px;
    height: 18px;
    border-radius: 8px;
    background-color: #ff5757;
    top: 1px;
    left: 0;
}

.ui.radio.checkbox .box:after,
.ui.radio.checkbox label:after {
    top: 1px;
    left: 0;
    width: 20px;
    height: 18px;
    border-radius: 8px;
    -webkit-transform: scale(.46666667);
    transform: scale(1);
    background-color: #ff5757;
}

@media (max-width: 992px) {
    .heading-1 {
        left: 38vw;
        font-size: 350%;
    }
}

@media (max-width: 768px) {
    .heading-1 {
        left: 38vw;
        font-size: 300%;
    }
    .ui.statistic>.label,
    .ui.statistics .statistic>.label {
        font-size: 18px;
        font-weight: 200;
        color: rgba(0, 0, 0, .87);
    }
    .ui.statistic>.value,
    .ui.statistics .statistic>.value {
        font-size: 33px!important;
    }
}

@media (max-width: 576px) {
    .bg1,
    .bg2 {
        display: none;
    }
}