.grow {
    transition: all 0.6s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

#registration {
    font-size: 300%;
    line-height: 130%;
    font-family: 'regular', sans-serif;
    text-align: center;
}

#quizimg {
    height: 200px;
    width: 200px;
}

.btn {
    box-shadow: none !important;
    outline: 0 !important;
    border: 0 !important;
}

.btn:hover {
    background-color: #ff5757;
    color: white;
    box-shadow: none;
}

.btn:active,
.btn:focus {
    box-shadow: none !important;
    outline: 0 !important;
    border: 0 !important;
    background-color: #ff5757 !important;
    color: white !important;
}

#start {
    width: 80%;
    height: 50px;
    font-family: 'regular', sans-serif;
    font-size: 160%;
}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    #registration {
        font-size: 250%;
        line-height: 130%;
        font-family: 'regular', sans-serif;
        text-align: center;
    }
    #quizimg {
        height: 180px;
        width: 180px;
    }
}

@media (max-width: 576px) {
    #registration {
        font-size: 200%;
        line-height: 130%;
        font-family: 'regular', sans-serif;
        text-align: center;
    }
    #quizimg {
        height: 150px;
        width: 150px;
    }
}